@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir-Light.ttf);
}
@font-face {
    font-family: vaz;
    src: url();
}
body{
    padding: 0;
    margin: 0;
    font-family: vazir;
}
ul{
    list-style: none;
    padding: 0;
}